.echeancierTr {
	border-bottom: solid 1px;
}

.echeancierTr td{
	padding-left:10px;
}


h1.coordonnees, h3{
	text-align:center;
	color:#094782;
	display:block;
}
select {
	-webkit-appearance: menulist;
}
.help-block {
	color:#ff0000;
}

label {
	width:25%;
}
input{
	width:70%;
}
textarea{
	width:95%;
}

